html {
  scroll-behavior: smooth;
}

.QuoteCardGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  border-radius: 10px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.QuoteCardGridItem {
  background-color: #80cbc4;
  border: 1 px double#fff;
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}

/* .PaginateButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
} */

/* .page-number {
  font-size: large;
  font-weight: 900;

} */

.PaginationListButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.PaginationListButtons .page-number {
  font-size: 16px;
  font-weight: 600;
  color: #00a8ff;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.PaginationListButtons .page-number:hover {
  color: #fff;
  background: #00a8ff;
}

.PaginationListButtons .active {
  color: #fff;
  background: #00a8ff;
}

.PaginationListButtons .active:hover {
  color: #00a8ff;
  background: #fff;
}